body {
  background-color: #004d9d;
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

header {
  position: fixed;
  left: 20px;
  top: 20px;
}

section {
  background-attachment: fixed;
  background-image: url(/img/sally_1.jpg);
  background-size: cover;
	height: 100vh;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

h1 {
  font-size: 24px;
  margin: 0 0 5px 0;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.25s ease-in;
}

a:hover {
  color: #dddddd;
}

.image_2 {
  background-image: url(/img/sally_2.jpg);
}

.image_3 {
  background-image: url(/img/sally_3.jpg);
}

.image_4 {
  background-image: url(/img/sally_4.jpg);
}

footer a {
  margin: 0 5px 0 0;
}